.popups-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999;

    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popups-wrapper__bg {
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
}


.bg-fade-enter-active {
    transition: all 0.8s ease;
    opacity: 1;
}

.bg-fade-leave-active {
    opacity: 1;
    transition: all 0.8s ease;
}

.bg-fade-enter-from,
.bg-fade-leave-to {

    opacity: 0;
}



.popup {
    position: absolute;
    z-index: 10;
    border-radius: 15px;
}

.popup__close {
    position: absolute;
    top: -50px;
    right: -50px;
    cursor: pointer;
    transition: all ease 0.3s;
    z-index: 20;

    svg {
        transition: all ease 0.3s;
    }


    &:hover {
        svg {
            transform: scale(1.1);
            transition: all ease 0.3s;
        }
    }
}


.popup-done {
    width: 400px;
    background: #fff;
}

.popup-done__wrapper {
    padding: 30px 30px;


    .sec-title {
        font-size: 30px;
        color: #493E8C;
        text-align: center;
    }

    .contacts-sec__form-subtitle {
        text-align: center;
        margin-bottom: 0;
        font-size: 18px;
        margin-top: 10px;
    }
}

.slide-fade-enter-active {
    transition: all 0.8s ease;
    opacity: 1;
}

.slide-fade-leave-active {
    opacity: 1;
    transition: all 0.8s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(100%);
    opacity: 0;
}


.bg-fade-enter-active {
    transition: all 0.8s ease;
    opacity: 1;
}

.bg-fade-leave-active {
    opacity: 1;
    transition: all 0.8s ease;
}

.bg-fade-enter-from,
.bg-fade-leave-to {

    opacity: 0;
}